.task {
  height: 110px;
  min-height: 70px;
  max-height: 200px;
  margin: 5px 0;

  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
  transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;

  &:hover {
    cursor: grab;
    background-color: white;
  }

  &:active {
    cursor: grabbing;
    border-radius: 10px;
  }
}

.title-area {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 40px;
}

.title-area__button {
  background: none;
  border: none;
}

.task__title {
  display: flex;
  align-items: center;
  align-self: center;
  height: inherit;
  margin: 0;
  padding-left: 10px;
}

.task__desc {
  padding: 0px 10px 10px 10px;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 1.4vh;

  color: #444444;
}
