.add-btn {
  margin: 10px;
  background: rgba(gray, 0.3);
  color: #555555;
  opacity: 0.7;
  border: none;
  transition-duration: 0.2s;

  &:hover {
    opacity: 1;
  }
}

.add-btn--centered {
  @extend .add-btn;

  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
